[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "optional"]
	path = optional
	url = https://github.com/antoinechampion/optional
